@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
/* font-family: 'Chelsea Market', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');
/* font-family: 'Roboto Mono', monospace; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    /* border: 1px solid red; */
}

.navHeader {
    margin-top: 2%;
}

.navHeader nav {
    
    width: 100%;
    display: inline-block;
    /* margin: 0 auto; */
    text-align: center;
}

.navHeader nav a {
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 7vw;
    color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

#plan, #plan2 {
    background-color: #FF764E;
}
#learn, #learn2 {
    background-color: #5ED3EB;
}
#getInv, #getInv2 {
    background-color: #FFCD69;
}

.headerImage {
    display: inline-block;
    /* border: 1px solid blue; */
    border-radius: 100%;
    overflow: hidden;
    margin: 2% 2% 2% 10%;
    background: url('assets/header_img.jpg');
    background-position: center;
    background-size: 130% 130%;


}

#yosemitePic {
    width: 300px;
}

p, span {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.rightContainer {
    display: inline-block;
    text-align: center;
    /* width: 71%; */
    /* margin: 10% 20% 10% 5%; */
    /* margin-left: 10%; */
    margin: 0 auto;
    width: 60%;
    margin-bottom: 5vh;
}

#mainHeader {
    /* display: inline-block; */
    font-family: 'Chelsea Market', cursive;
    font-size: 6rem;
    padding: 20px;
    margin-top: -20%;
}

.bold {
    font-weight: bold;
}

#secondP, #thirdP {
    display: inline-block;
    margin: 3%;
    padding: 20px;
}

.introContainer {
    margin: 0 10%;

}

/* section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */

#greatValley {
    width: 100%;
    text-align: center;
    background-color: #DDB9A3;
    color: white;
    padding: 10px 20px;
}


#secondText {
    display: block;
    text-indent: 2rem;
}

.fireInfo {
    display: inline-block;
    /* border: 1px solid blue; */
    width: 100%;
    text-align: center;
    /* margin: 10px; */
}

.campingInfo {
    display: inline-block;
    /* border: 1px solid blue; */
    width: 100%;
    text-align: center;
}
/* 
.firePic {
    padding: 20px;
} */

#firepit {
    width: 200px;
    /* paddinng: 10px; */
}

.fireText {
    display: inline-block;
    width: 23vw;
    padding: 20px;
}

.campingText, .rvPic, .fireText, .firePic {
    padding: 20px;
}

.campingText {
    display: inline-block;
    width: 24vw;
    /* padding: 20px; */
}

#rv {
    width: 200px;
}


.footerDiv {
    display: inline-block;
    width: 100%;
    height: 50vh;
    /* border: 1px solid red; */
    overflow: hidden;
    
}

#footerImage {
    width: 100vw;
}

.navFooter nav {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.navFooter nav a {
    display: inline-block;
    margin: 5vh 7vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 1rem 2rem;
} 