@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
/* font-family: 'Chelsea Market', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');
/* font-family: 'Roboto Mono', monospace; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    border: 1px solid red;
}

.navHeader {
    margin-top: 2%;
}

.navHeader nav {
    
    width: 100%;
    display: inline-block;
    /* margin: 0 auto; */
    text-align: center;
}

.navHeader nav a {
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 7vw;
    color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

#plan {
    background-color: #FF764E;
}
#learn {
    background-color: #5ED3EB;
}
#getInv {
    background-color: #FFCD69;
}

.headerImage {
    display: inline-block;
    /* border: 1px solid blue; */
    border-radius: 100%;
    overflow: hidden;
    margin: 2% 2% 2% 10%;
}

#yosemitePic {
    width: 300px;
}

p, span {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.rightContainer {
    display: inline-block;
    text-align: center;
    /* width: 71%; */
    /* margin: 10% 20% 10% 5%; */
    align-content: center;
}

#mainHeader {
    display: inline-block;
    margin: 0;
    font-family: 'Chelsea Market', cursive;
    font-size: 6rem;
}

#secondP {
    display: inline-block;
    padding: 20px;
}

#thirdP {
    display: inline-block;
    padding: 20px;
}



.introContainer {
    margin: 0 10%;
}

/* section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */

#greatValley {
    width: 100%;
    text-align: left;
    background-color: #DDB9A3;
    color: white;
    padding: 10px 20px;
}



#secondText {
    text-indent: 3rem;
}

.fireInfo {
    display: inline-block;
    border: 1px solid blue;
    width: 100%;
    text-align: center;
    margin: 10px;
}

.campingInfo {
    display: inline-block;
    border: 1px solid blue;
    width: 100%;
    text-align: center;
}

#firepit {
    width: 200px;
}

.fireText {
    display: inline-block;
    width: 22vw;
}

.campingText {
    display: inline-block;
    width: 23vw;
}

#rv {
    width: 200px;
}

#footerImage {
    width: 100%;
}
